body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0px;
}

.container {
  margin: 0px auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* logo */

a.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

span.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo:hover,
.logo:focus {
  color: #2196f3;
}

.logo-footer:focus,
.logo-footer:hover {
  color: #2196f3;
}

a.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

span.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* header */

.header {
  border-bottom: 1px solid #eeeeee;
}

/* main nav */

.main-nav {
  display: flex;
  align-items: center;
}

.social-tel {
  display: flex;
}

.icon-tel {
  margin: 0px;
  padding: 0px;
  align-items: flex-start;
}

/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  color: #ffffff;
}

.hero-btn {
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: #2196f3;
  color: #ffffff;
  border: 1px transparent;
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;
}

.padding-top {
  padding-top: 0px;
}

/* site nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
/* .site-nav .item {
  margin-right: 50px;
} */

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: #2196f3;
}

/* auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  padding-left: 40px;
}

.auth-nav .link:focus,
.auth-nav .link:hover {
  color: #2196f3;
}

.auth-nav .link {
  color: #212121;
}

/* main */
.section-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.title {
  margin-bottom: 10px;
}

/* main partfolio */

.border {
  border: 1px solid #eeeeee;
}

.portfolio-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-element:nth-child(3n) {
  margin-right: 0px;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.flex-element {
  border: 1px solid #eeeeee;
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
}

/* our-team */

.team-manager {
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-title {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-team {
  display: flex;
}

.our-team .item {
  border: 1px solid #eeeeee;
  border-radius: 0px 0px 4px 4px;
}

.our-team .item + .item {
  margin-left: 30px;
}

.bckg {
  background: #f5f4fa;
  border: 1px solid #eeeeee;
}

/* work-list */

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list .item + .item {
  margin-left: 30px;
}

/* feature */

.features {
  display: flex;
}

.features .item + .item {
  margin-left: 30px;
}

.feature .title {
  color: #212121;
}

.btn:focus,
.btn:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.btn {
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  border: transparent;
  background: #f5f4fa;
  border-radius: 4px;
}

.flex-btn .item + .item {
  margin-left: 8px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.title-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.title-name {
  margin-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text {
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 20px;
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
